<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @representantef.nombre %>
</p>

<%= link_to 'Edit', edit_representantef_path(@representantef) %> |
<%= link_to 'Back', representantefs_path %>
