
<center>
<h1>Jornada de la noche</h1>
<div class="contene">
<div class="panel panel-default">
  
  <div class="panel-body">
    <% @representantens.each do |representanten| %>
      <div class="contene2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= representanten.nombre %></h3>
          </div>
          <div class="panel-body">
            
            <%= image_tag(representanten.foto,  height: '250', width: '250') %>
            
            <div class="panel-footer">
              <span class="label label-default fa-2x boto"><%= representanten.get_upvotes.size %> Votos</span>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
      </div>
  </div>
</div>
</center>