<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @representanten.nombre %>
</p>

<%= link_to 'Edit', edit_representanten_path(@representanten) %> |
<%= link_to 'Back', representantens_path %>
