<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @representantet.nombre %>
</p>

<%= link_to 'Edit', edit_representantet_path(@representantet) %> |
<%= link_to 'Back', representantets_path %>
