<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<center>
<%= image_tag("image001.png", class: "image1")  %>
</center>
<div class="jumbotron">
  <center>
  <h1>Gracias por tu Voto</h1>
  <br><br>
  <p>Centro de Formación en Diseño Confección y Moda<br><br>
  SENA - 2016</p></center>
  <%= link_to "Salir 
    <i class='fa fa-sign-out fa-2x' id='icono'></i>
    </i></label>".html_safe, destroy_usuario_session_path, :method => :delete,:class => 'navbar-link btn btn-default fa-2x pull-right boto' %>
</div>